@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
.logo {
  background-color: #062c32;
  padding: 50px;
  margin-top: 50px;
}
.logo img {
  width: 200px;
}
